.table-container {
    padding: 5% 25%;
    
}


 table {
	 font-family: 'Arial';
	 margin: 25px auto;
	 border-collapse: collapse;
	 border: 1px solid #eee;
	 border-bottom: 5px solid #9a02ff;
	 box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
}
 table tr:hover {
	 background: #f4f4f4;
}
 table tr:hover td {
	 color: #555;
}
 table th, table td {
    color: rgb(255, 255, 255);
    font-weight: 800;
	 border: 1px solid rgba(238, 238, 238, 0.205);
	 padding: 12px 10px;
	 border-collapse: collapse;
}
 table th {
	 background: #9a02ff;
	 color: rgb(255, 255, 255);
	 text-transform: uppercase;
	 font-size: 24 px;
}

td {
 font-size: 24px;
 background:#461c638e;

}

 table th.last {
	 border-right: none;
}

thead  {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 10px 20px rgba(0, 0, 0, 0.178);
}

.idEnter{
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.tableShape{
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);}

    .hiddenCol {
        color: transparent;
    }

    .hiddenCol:hover {
        color: transparent 

	}
	
.negative{
	color: rgb(240, 0, 0) !important;
}

.positive{
	color: rgb(0, 160, 67) !important;
}