.trackTable-container {
    padding: 5% 25%;

}
.trackTable{
	background-color: #555;
	color: #f4f4f4;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
	
}
.trackTable2{
	background: rgb(16,16,18);
background: linear-gradient(0deg, rgba(16,16,18,1) 2%, rgba(16,16,18,1) 38%, rgba(154,2,240,1) 100%, rgba(0,212,255,1) 100%);
	color: #f4f4f4;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.trackTableCol{
	text-align: center;
}
.trackTable-header{
	background-color: #9a02ff;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 1% 0%;
	font-size: 1.5em;
	font-weight: 600;
	text-transform: uppercase;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);


}
.data-row{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	color: #f4f4f4;
	padding: 1% 0%;
	font-size: 1.5em;
	font-weight: 600;
	text-align: center;

}

.data-col.game {
    margin-right: 5%;
}
.data-col.last {
    margin: 0% 4%;
}
.data-col.name {
    /* margin-left: 0%; */
    margin-right: 9%;
}
 table {
	 font-family: 'Arial';
	 margin: 25px auto;
	 border-collapse: collapse;
	 border: 1px solid #eee;
	 border-bottom: 5px solid #9a02ff;
	 box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
}
 table tr:hover {
	 background: #f4f4f4;
}
 table tr:hover td {
	 color: #555;
}
 table th, table td {
    color: rgb(255, 255, 255);
    font-weight: 800;
	 border: 1px solid rgba(238, 238, 238, 0.205);
	 padding: 12px 10px;
	 border-collapse: collapse;
}
 table th {
	 background: #9a02ff;
	 color: rgb(255, 255, 255);
	 text-transform: uppercase;
	 font-size: 24 px;
}

td {
 font-size: 24px;
 background:#461c638e;

}

 table th.last {
	 border-right: none;
}

thead  {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 10px 20px rgba(0, 0, 0, 0.178);
}

.idEnter{
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.tableShape{
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);}

    .hiddenCol {
        color: transparent;
    }

    .hiddenCol:hover {
        color: transparent 

	}
	
.negative{
	color: rgb(240, 0, 0) !important;
}

.positive{
	color: rgb(0, 160, 67) !important;
}

.greenScreen{
	background-color: rgb(0,177,64);
}