#ranked{
    background-image: url('./assets/Synthwave_2048x1536.jpg');
}

.btn-primary{
    margin: 1% .5% !important;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #9a02ff !important;
    border-style: none !important;
    background-image: none !important;
}
.data-container {
    margin: 0% 5%;

    background-color: black;
}

.col-2 {

    margin: 0% 2%;
    color: #ffffff;

}

.legend {
    background-color: aliceblue;
}

.col h4 {
    color: black;
    font-size: 1.2em;
}

.rank-col {
    max-width: 2em !important;
}

.rank-row {
    border-top: 1px solid #9b9a9a;
 
}

.table-legend{
    padding: 2% 0%;
}
.header{
    text-align: center;
}

.pageBtn:hover {
    color: blue !important;
}

@media only screen and (min-width: 900px) {
    .data-container {
        margin: 0% 25%;
        
    }
    .rank-header {
        max-width: 5em !important;
    }
    .label {
        display: inline;
    }
  }